<h1>Workspaces</h1>

<% if @workspaces.length > 0 %>
  <% @workspaces.each do |workspace| %>
    <div class="card workspace">
      <%= render 'workspace_short', w: workspace %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "create New Workspace", new_user_workspace_path(current_user.id) %>
<% else %>
  <p>Please <%= link_to "Sign in...", new_user_session_path %> to add new workspace.</p>
  <p>Don't have an account yet, <%= link_to "Sign up...", new_user_registration_path %> here.</p>
<% end %>
