<h1>Workspace#index</h1>
<p>Find me in app/views/workspace/index.html.erb</p>

<%= link_to "create New Workspace", new_user_workspace_path %>

<% if @workspaces.length > 0 %>
  <% @workspaces.each do |workspace| %>
    <div class="card workspace">
      <%= render 'workspace_short', w: workspace %>
    </div>
  <% end %>
<% end %>