// Place all the styles related to the Workspace controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.workspace {

  .indicators > div {
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  .smoke_free {
    background-image: image-url('smoke-free.png');
  }

  .allow_smoking {
    background-image: image-url('allow-smoke.png');
  }
}