<h1>Review#index</h1>
<p>Find me in app/views/review/index.html.erb</p>

<%= link_to "create New Review", new_workspace_review_path(@workspace) %>

<% if @reviews.length > 0 %>
  <% @reviews.each do |review| %>
    <div class="card review">
      <%= render 'review_short', w: review %>
    </div>
  <% end %>
<% end %>