<h1>Reviews for Workspace: <%= @workspace.name %></h1>

<%= link_to "create New Review", new_workspace_review_path(@workspace) %>

<% if @reviews.length > 0 %>
  <% @reviews.each do |review| %>
    <%= render 'review_short', w: review %>
  <% end %>
<% end %>